body{
  font-size: 1.5em;
  padding: 20px;
}
input{
  display: block;
}

#form-id{
  border: 1px solid #333;
}
#username,
#password,
#password-confirmation{
  width: 200px;
  height: 25px;
}
#terms,
#password-show,
#password-confirmation-show{
  display: inline;
}

.heading{
  color: red;
  margin-bottom: 0;
}
.sub-heading{
  margin-top: 0;
  margin-left: 15px;
}
.errors{
  display: none;
}
.errors.show{
  display: inline-block;
  background-color: #D93D32;
  padding: 5px 20px 10px;
  border-radius: 20px;
}
.show-password-label{
  font-size: 1.2rem;
}
.form-item{
  line-height: 2;
}
.submit-button{
  padding: 5px 10px;
}
